Repository MISP/MISP, pull requests merged in 2020-03, with the labels that each got.

#5687 chg: [widget:worldmap] Various JS and UI Improvements
  app/View/Elements/dashboard/Widgets/WorldMap.ctp
Labels: enhancement, topic:UI

#5707 Scoped css for widget
  app/Controller/DashboardsController.php
  app/View/Dashboards/widget_loader.ctp
  app/View/Elements/dashboard/Widgets/MultiLineChart.ctp
  app/View/Helper/ScopedCSSHelper.php
  app/webroot/css/main.css
Labels: dev enhancement, topic:UI, topic:widgets

#5705 new: usr: add support for RHEL in the install script
  INSTALL/INSTALL.sh
  INSTALL/INSTALL.sh.sha1
  INSTALL/INSTALL.sh.sha256
  INSTALL/INSTALL.sh.sha384
  INSTALL/INSTALL.sh.sha512
  INSTALL/INSTALL.tpl.sh
  docs/INSTALL.rhel7.md
  docs/generic/supportFunctions.md
Labels: topic:install
